.operation_div {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
}

.operation_form {
    width: 100%;
    display: flex;
    /*border: 2px solid black;*/
}

.inp_search_file {
    padding: 10px;
    min-width: 350px;
}


/*---------------------------*/

.inp_open_file_ut {
    color: white;
    border: 2px solid black;
    padding: 10px;
    min-width: 350px;
}

.inp_open_file_ut::file-selector-button {
    display: none;
}

.inp_open_file_ut::before {
    border: 1px solid black;
    border-radius: 3px 8px 3px 8px;
    color: red;
    content: attr(value) 'Выбрать файл УТ';
    /*margin: 25px;*/
    padding: 5px;
}


.inp_open_file_ut:hover:before {
    border: 1px groove blue;
    background: lime;
}

.inp_open_file_ut:active:before {
    border: 1px groove blue;
    background: yellow;
}


.inp_open_file_ut {
    padding: 10px;
}


/*-----------------------------*/


/*.inp_open_file_bux {*/
/*    !*color: white;*!*/
/*    !*cursor: pointer;*!*/
/*}*/

/*-----------------------------*/

.inp_open_file_bux {
    color: white;
    border: 2px solid black;
    padding: 10px;
    min-width: 350px;
}

.inp_open_file_bux::file-selector-button {
    display: none;
}

.inp_open_file_bux::before {
    border: 1px solid black;
    border-radius: 3px 8px 3px 8px;
    color: red;
    content: attr(value) 'Выбрать файл Бухгалтерия';
    padding: 5px;
}


.inp_open_file_bux:hover:before {
    border: 1px groove blue;
    background: lime;
}

.inp_open_file_bux:active:before {
    border: 1px groove blue;
    background: yellow;
}


.inp_open_file_bux {
    padding: 10px;
}

/*----------------------------*/
.btn_open_file {

}
