{% extends 'ut/base.html' %}

{% block menu %}
    <div id="basic_div_menu">
        <div class="menu">
            {% for menu in menus %}
                {% if menu.as_active %}
                    {% if operation == menu.url %}
                        <span class="selected"><a
                                href="{% url 'compare_files' %}?operation={{ menu.url }}">{{ menu.name }}</a></span>
                    {% else %}
                        <span class="button_line"><a
                                href="{% url 'compare_files' %}?operation={{ menu.url }}">{{ menu.name }}</a></span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block submenu %}
    {% if form_active %}
        <div class="operation_div" id="operation_div">
            <div class="form_div">
                <form class="operation_form" enctype="multipart/form-data" method="post"
                      action="">
                    {% csrf_token %}
                    <input class="inp_open_file_ut" alt="file_name" type="file" name="file_ut" id="file_ut"
                           accept=".xls, .xlsx">
                    <input class="inp_open_file_bux" alt="file_name" type="file" name="file_bux" id="file_bux"
                           accept=".xls, .xlsx">
                    <input class="btn_open_file" id="submit_operation_load" type="submit" name="load_file_btn"
                           value="Сверить">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}